.applicationsGrid {
    -fx-padding: 10;
    -fx-hgap: 5;
    -fx-vgap: 5;
    -app-grid-col1-width: 100;
    -app-grid-col2-width: 150;
}

.applicationChecksTable #apl_code {
    -app-table-col-width: 100.0;
    -app-table-col-visible: false;
}
.applicationChecksTable #chk_mnemo {
    -app-table-col-width: 175.0;
    -app-table-col-visible: true;
}
.applicationChecksTable #chk_value {
    -app-table-col-width: 40.0;
    -app-table-col-visible: true;
}
.applicationChecksTable #run_date {
    -app-table-col-width: 80.0;
    -app-table-col-visible: true;
}
.applicationChecksTable #run_comment {
    -app-table-col-width: 150.0;
    -app-table-col-visible: true;
}